html {
  padding: 0px ;
  margin: 0px;
  height: 100%;
  font-family: 'EB Garamond', serif;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: honeydew;
  height: 100%;
}

header {
  background-image: url(../photos/desktop.JPG);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 80px;
  color: #b3c6d5;
  text-align: center;
  margin: 0
}

img {
  padding: 35px;
  width: 25px;
}
