.u-section-1 {background-image: url("images/6248EB68-2909-4A9C-8F2F-9059CA3E6C31.JPG")}
.u-section-1 .u-sheet-1 {min-height: 796px}
.u-section-1 .u-text-1 {letter-spacing: 6px; font-size: 1.5rem; text-transform: uppercase; font-weight: 300; margin: 318px -215px 0 215px}
.u-section-1 .u-text-2 {font-size: 6rem; font-weight: 900; margin: 0 14px 60px 127px}

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 656px}
.u-section-1 .u-text-1 {width: auto; margin-top: 238px; margin-right: -58px; margin-left: 58px}
.u-section-1 .u-text-2 {width: auto; margin-top: 10px; margin-right: -14px; margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 502px}
.u-section-1 .u-text-1 {font-size: 1.375rem; margin-top: 183px; margin-right: -50px; margin-left: 50px}
.u-section-1 .u-text-2 {font-size: 4.5rem; margin-top: 0; margin-right: 0} }

@media (max-width: 767px){ .u-section-1 {background-position: 8.21% 50%}
.u-section-1 .u-sheet-1 {min-height: 581px}
.u-section-1 .u-text-1 {font-size: 1.25rem; margin-top: 223px; margin-right: -30px; margin-left: 30px}
.u-section-1 .u-text-2 {font-size: 3.4375rem; margin-top: 14px} }

@media (max-width: 575px){ .u-section-1 {background-position: 10.02% 50%}
.u-section-1 .u-sheet-1 {min-height: 668px}
.u-section-1 .u-text-1 {font-size: 0.875rem; margin-top: 296px}
.u-section-1 .u-text-2 {font-size: 2.125rem; margin-top: 10px} }.u-section-2 {margin-top: 0; margin-bottom: 0; background-image: none}
.u-section-2 .u-sheet-1 {min-height: 638px}
.u-section-2 .u-text-1 {font-weight: 900; text-transform: none; font-size: 2.25rem; margin: 54px 447px 0 0}
.u-section-2 .u-layout-wrap-1 {width: 1140px; margin: 0 0 60px}
.u-section-2 .u-layout-cell-1 {min-height: 400px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-image-1 {width: 472px; height: 442px; margin: -5px auto -5px -30px}
.u-section-2 .u-layout-cell-2 {min-height: 400px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-2 {font-weight: 300; margin: 0 -30px 0 0}

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 628px}
.u-section-2 .u-text-1 {margin-right: 247px}
.u-section-2 .u-layout-wrap-1 {width: 970px; margin-right: auto; margin-bottom: 54px; margin-left: -30px}
.u-section-2 .u-layout-cell-1 {min-height: 352px}
.u-section-2 .u-container-layout-1 {padding-top: 29px; padding-bottom: 14px}
.u-section-2 .u-image-1 {height: 441px; object-position: 41.26% 50%; margin-top: 0; margin-bottom: 0; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-layout-cell-2 {min-height: 329px}
.u-section-2 .u-container-layout-2 {padding-right: 0}
.u-section-2 .u-text-2 {margin-top: 28px; margin-right: 0} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 754px}
.u-section-2 .u-text-1 {font-size: 1.875rem; width: auto; margin-right: 0; margin-left: 27px}
.u-section-2 .u-layout-wrap-1 {width: 720px; margin-left: 0}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-image-1 {height: 334px; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-text-2 {width: auto; margin-top: 0; margin-left: -30px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 949px}
.u-section-2 .u-text-1 {margin-right: -10px; margin-left: 10px}
.u-section-2 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-bottom: 10px; padding-left: 10px}
.u-section-2 .u-text-2 {margin-left: 0} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1124px}
.u-section-2 .u-text-1 {font-weight: 700; margin-right: 0}
.u-section-2 .u-layout-wrap-1 {margin-bottom: 50px; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: NaNpx}
.u-section-2 .u-image-1 {height: 300px; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-2 {min-height: NaNpx} }.u-section-3 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-3 .u-sheet-1 {min-height: 651px}
.u-section-3 .u-text-1 {font-weight: 700; font-size: 2.25rem; margin: 54px 999px 0 0}
.u-section-3 .u-layout-wrap-1 {margin: 0 auto 54px 0}
.u-section-3 .u-layout-cell-1 {min-height: 511px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-image-1 {width: 296px; height: 296px; margin: 0 auto 0 -30px}
.u-section-3 .u-text-2 {font-size: 1.125rem; margin: 20px auto 0 -30px}
.u-section-3 .u-btn-1 {background-image: none; border-style: none none solid; font-weight: 100; padding: 0}
.u-section-3 .u-text-3 {font-weight: 300; margin: 20px 54px 0 -30px}
.u-section-3 .u-layout-cell-2 {min-height: 511px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-image-2 {width: 296px; height: 296px; margin: 0 auto}
.u-section-3 .u-text-4 {font-size: 1.125rem; margin: 20px auto 0 12px}
.u-section-3 .u-btn-2 {background-image: none; border-style: none none solid; font-weight: 100; padding: 0}
.u-section-3 .u-text-5 {font-weight: 300; margin: 20px 0 0 12px}
.u-section-3 .u-layout-cell-3 {min-height: 511px}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-image-3 {width: 296px; height: 296px; margin: 0 -30px 0 auto}
.u-section-3 .u-text-6 {font-size: 1.125rem; margin: 20px auto 0 54px}
.u-section-3 .u-btn-3 {background-image: none; border-style: none none solid; font-weight: 100; padding: 0}
.u-section-3 .u-text-7 {font-weight: 300; margin: 13px -30px 0 54px}

@media (max-width: 1199px){ .u-section-3 .u-text-1 {margin-right: 799px}
.u-section-3 .u-layout-wrap-1 {width: 998px; margin-left: -29px; margin-right: -29px; margin-bottom: 35px}
.u-section-3 .u-layout-cell-1 {min-height: 502px}
.u-section-3 .u-image-1 {width: 253px; height: 253px; margin-left: 0}
.u-section-3 .u-text-2 {width: auto; margin-left: 0}
.u-section-3 .u-text-3 {margin-left: 0; margin-right: 0}
.u-section-3 .u-layout-cell-2 {min-height: 502px}
.u-section-3 .u-image-2 {height: 253px; width: 273px}
.u-section-3 .u-text-4 {width: auto; margin-left: 0}
.u-section-3 .u-text-5 {margin-left: 0}
.u-section-3 .u-layout-cell-3 {min-height: 502px}
.u-section-3 .u-image-3 {width: 253px; height: 253px; margin-right: 0}
.u-section-3 .u-text-6 {width: auto; margin-left: 20px}
.u-section-3 .u-text-7 {width: auto; margin-right: -20px; margin-left: 20px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 561px}
.u-section-3 .u-text-1 {font-size: 1.875rem; width: auto; margin-right: 598px; margin-left: 4px}
.u-section-3 .u-layout-wrap-1 {width: 772px; margin: -18px auto 54px -26px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-container-layout-1 {padding-bottom: 27px}
.u-section-3 .u-image-1 {width: 189px; height: 189px; margin-top: 16px; margin-left: auto}
.u-section-3 .u-text-2 {margin-left: 4px}
.u-section-3 .u-text-3 {width: auto; margin-right: -4px; margin-left: 4px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-image-2 {width: 189px; height: 189px; margin-top: 16px; margin-right: 0}
.u-section-3 .u-text-4 {margin-left: 9px}
.u-section-3 .u-text-5 {width: auto; margin-right: -9px; margin-left: 9px}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-container-layout-3 {padding-left: 45px}
.u-section-3 .u-image-3 {width: 189px; height: 189px; margin-top: 16px; margin-right: auto; margin-left: -11px}
.u-section-3 .u-text-6 {margin-left: -11px}
.u-section-3 .u-text-7 {margin-right: 11px; margin-left: -11px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 791px}
.u-section-3 .u-text-1 {margin-top: 65px; margin-right: 422px; margin-left: 0}
.u-section-3 .u-layout-wrap-1 {margin-top: -22px; margin-bottom: 41px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-layout-cell-1 {min-height: 255px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-1 {margin-top: 22px; margin-left: -10px}
.u-section-3 .u-text-2 {margin-top: -153px; margin-right: 157px; margin-left: auto}
.u-section-3 .u-text-3 {margin-top: 13px; margin-right: 0; margin-left: 201px}
.u-section-3 .u-layout-cell-2 {min-height: 201px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-2 {margin-top: -30px; margin-right: auto; margin-left: -10px}
.u-section-3 .u-text-4 {margin-top: -141px; margin-right: 148px; margin-left: auto}
.u-section-3 .u-text-5 {margin-top: 13px; margin-right: -10px; margin-left: 201px}
.u-section-3 .u-layout-cell-3 {min-height: 193px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-3 {margin-top: -30px}
.u-section-3 .u-text-6 {margin-top: -141px; margin-right: 139px; margin-left: auto}
.u-section-3 .u-text-7 {margin-right: 0; margin-bottom: -7px; margin-left: 201px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1379px}
.u-section-3 .u-text-1 {margin-left: 10px; margin-right: 10px}
.u-section-3 .u-layout-wrap-1 {margin-bottom: 63px; width: auto; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: NaNpx}
.u-section-3 .u-image-1 {height: 238px; margin-top: 20px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-text-2 {margin-top: 22px; margin-right: auto; margin-left: 1px}
.u-section-3 .u-text-3 {margin-bottom: -13px; margin-left: 1px}
.u-section-3 .u-layout-cell-2 {min-height: NaNpx}
.u-section-3 .u-image-2 {width: 318px; height: 223px; margin-top: 13px; margin-left: 0}
.u-section-3 .u-text-4 {margin-top: 22px; margin-right: auto; margin-left: 1px}
.u-section-3 .u-text-5 {margin-left: 0; margin-right: 0; margin-bottom: -13px}
.u-section-3 .u-layout-cell-3 {min-height: NaNpx}
.u-section-3 .u-image-3 {width: 318px; height: 223px; margin-top: 13px; margin-left: 0}
.u-section-3 .u-text-6 {margin-top: 22px; margin-right: auto; margin-left: 1px}
.u-section-3 .u-text-7 {margin-left: 1px; margin-right: 1px; margin-bottom: -13px} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 1019px}
.u-sectiou-section-4
 .u-text-1 {font-size: 2.25rem; margin: 54px 950px 0 0}
.u-section-4 .u-text-2 {font-size: 1rem; background-image: none; font-weight: 300; margin: 48px 659px 0 -199px}
.u-section-4 .u-text-3 {font-weight: 300; margin: -25px 0 0 auto}
.u-section-4 .u-video-1 {height: 307px; width: 546px; margin: 19px auto 0 0}
.u-section-4 .u-video-2 {height: 307px; width: 546px; margin: -307px 0 0 auto}
.u-section-4 .u-text-4 {font-weight: 300; margin: 80px auto 0 0}
.u-section-4 .u-text-5 {font-weight: 300; margin: -25px 0 0 auto}
.u-section-4 .u-video-3 {height: 307px; width: 546px; margin: 22px auto 0 0}
.u-section-4 .u-video-4 {height: 307px; width: 546px; margin: -307px 0 60px auto}

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 882px}
.u-section-4 .u-text-1 {margin-right: 750px}
.u-section-4 .u-text-2 {margin-top: 63px; margin-right: 653px; margin-left: 0}
.u-section-4 .u-text-3 {width: auto}
.u-section-4 .u-video-1 {height: 262px; width: 466px; margin-top: 22px}
.u-section-4 .u-video-2 {height: 262px; width: 466px; margin-top: -262px}
.u-section-4 .u-text-4 {width: auto; margin-top: 76px}
.u-section-4 .u-text-5 {width: auto}
.u-section-4 .u-video-3 {height: 262px; width: 466px}
.u-section-4 .u-video-4 {height: 262px; width: 466px; margin-top: -262px; margin-bottom: 54px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 751px}
.u-section-4 .u-text-1 {font-size: 1.875rem; width: auto; margin-right: 557px}
.u-section-4 .u-text-2 {width: auto; margin-right: 433px}
.u-section-4 .u-video-1 {height: 196px; width: 349px; margin-top: 23px}
.u-section-4 .u-video-2 {height: 210px; width: 349px; margin-top: -203px}
.u-section-4 .u-text-4 {margin-top: 61px}
.u-section-4 .u-video-3 {height: 208px; width: 349px; margin-top: 23px; margin-left: -3px}
.u-section-4 .u-video-4 {height: 209px; width: 349px; margin-top: -208px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 1685px}
.u-section-4 .u-text-1 {margin-right: 377px}
.u-section-4 .u-text-2 {margin-top: 41px; margin-right: 253px}
.u-section-4 .u-text-3 {margin-top: 365px; margin-right: auto; margin-left: 0}
.u-section-4 .u-video-1 {height: 304px; width: 550px; margin-top: -379px; margin-left: -5px}
.u-section-4 .u-video-2 {height: 299px; margin-top: 86px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-text-4 {margin-top: 50px}
.u-section-4 .u-text-5 {margin-top: 364px; margin-right: auto; margin-left: 0}
.u-section-4 .u-video-3 {height: 303px; width: 551px; margin-top: -378px; margin-left: -6px}
.u-section-4 .u-video-4 {height: 303px; width: 551px; margin: 86px -6px -310px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 1262px}
.u-section-4 .u-text-1 {margin-top: 65px; margin-right: 177px}
.u-section-4 .u-text-2 {margin-top: 44px; margin-right: 53px}
.u-section-4 .u-text-3 {margin-top: 254px}
.u-section-4 .u-video-1 {height: 198px; margin-top: -267px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-video-2 {height: 195px; margin-top: 81px; width: auto; margin-right: initial; margin-left: initial}
.u-section-4 .u-text-4 {margin-top: 44px}
.u-section-4 .u-text-5 {margin-top: 247px}
.u-section-4 .u-video-3 {height: 191px; margin-top: -260px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-video-4 {height: 191px; margin-top: 81px; margin-bottom: 17px; margin-right: initial; margin-left: initial; width: auto} }.u-section-5 {margin-top: 0; margin-bottom: 0}
.u-section-5 .u-sheet-1 {min-height: 1348px}
.u-section-5 .u-text-1 {font-weight: 700; font-size: 2.25rem; margin: 54px 865px 0 0}
.u-section-5 .u-gallery-1 {height: 309px; grid-gap: 17px 17px; margin: 44px auto 0 0}
.u-section-5 .u-gallery-inner-1 {grid-template-columns: auto auto auto; grid-gap: 0 0}
.u-section-5 .u-over-slide-1 {padding: 10px}
.u-section-5 .u-over-slide-2 {padding: 10px}
.u-section-5 .u-over-slide-3 {padding: 10px}
.u-section-5 .u-gallery-2 {height: 167px; grid-gap: 17px 17px; width: 1140px; margin: 17px auto 0}
.u-section-5 .u-gallery-inner-2 {grid-template-columns: auto auto auto; grid-gap: 0 0}
.u-section-5 .u-over-slide-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-5 .u-over-slide-5 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-5 .u-over-slide-6 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-5 .u-gallery-3 {height: 157px; grid-gap: 17px 17px; width: 1140px; margin: 17px auto 0}
.u-section-5 .u-gallery-inner-3 {grid-template-columns: auto auto auto; grid-gap: 0 0}
.u-section-5 .u-over-slide-7 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-5 .u-over-slide-8 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-5 .u-over-slide-9 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-5 .u-gallery-4 {height: 153px; grid-gap: 17px 17px; width: 1140px; margin: 17px auto 0}
.u-section-5 .u-gallery-inner-4 {grid-template-columns: auto auto auto; grid-gap: 0 0}
.u-section-5 .u-over-slide-10 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-5 .u-over-slide-11 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-5 .u-over-slide-12 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-5 .u-gallery-5 {height: 305px; grid-gap: 17px 17px; width: 1140px; margin: 17px auto 54px}
.u-section-5 .u-gallery-inner-5 {grid-template-columns: auto auto auto; grid-gap: 0 0}
.u-section-5 .u-over-slide-13 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-5 .u-over-slide-14 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-5 .u-over-slide-15 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 1180px}
.u-section-5 .u-text-1 {width: auto; margin-right: 720px}
.u-section-5 .u-gallery-1 {height: 255px; grid-template-columns: auto auto auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-gallery-2 {height: 138px; grid-template-columns: auto auto auto; width: 940px; margin-top: 21px; margin-left: 8px}
.u-section-5 .u-gallery-3 {height: 129px; grid-template-columns: auto auto auto; width: 940px; margin-top: 21px; margin-left: 8px}
.u-section-5 .u-gallery-4 {height: 126px; grid-template-columns: auto auto auto; margin-top: 21px; margin-right: initial; margin-left: initial; width: auto}
.u-section-5 .u-gallery-5 {height: 251px; grid-template-columns: auto auto auto; margin-top: 21px; margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 1000px}
.u-section-5 .u-text-1 {font-size: 1.875rem; margin-right: 530px}
.u-section-5 .u-gallery-1 {height: 196px; grid-template-columns: auto auto; margin-top: 65px; margin-right: initial; margin-left: initial}
.u-section-5 .u-gallery-2 {height: 107px; grid-template-columns: auto auto; margin-top: 23px; margin-right: initial; margin-left: initial; width: auto}
.u-section-5 .u-gallery-3 {height: 96px; grid-template-columns: auto auto; margin-top: 23px; margin-right: initial; margin-left: initial; width: auto}
.u-section-5 .u-gallery-4 {height: 101px; grid-template-columns: auto auto; margin-top: 23px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-gallery-5 {height: 196px; grid-template-columns: auto auto; margin-top: 23px; margin-bottom: -1051px; width: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 775px}
.u-section-5 .u-text-1 {margin-right: 350px}
.u-section-5 .u-gallery-1 {height: 150px; grid-template-columns: auto; margin-top: 46px; margin-right: initial; margin-left: initial}
.u-section-5 .u-gallery-2 {height: 84px; grid-template-columns: auto; margin-top: 11px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-gallery-3 {height: 78px; grid-template-columns: auto; margin-top: 11px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-gallery-4 {height: 79px; grid-template-columns: auto; margin-top: 11px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-gallery-5 {height: 153px; grid-template-columns: auto; margin-top: 11px; margin-bottom: -1293px; width: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 3015px}
.u-section-5 .u-text-1 {margin-top: 65px; margin-right: 164px}
.u-section-5 .u-gallery-1 {height: 787px; margin-top: 31px; margin-right: initial; margin-left: initial}
.u-section-5 .u-gallery-inner-1 {grid-template-columns: auto}
.u-section-5 .u-gallery-2 {height: 429px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-gallery-inner-2 {grid-template-columns: auto}
.u-section-5 .u-gallery-3 {height: 386px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-gallery-inner-3 {grid-template-columns: auto}
.u-section-5 .u-gallery-4 {height: 386px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-gallery-inner-4 {grid-template-columns: auto}
.u-section-5 .u-gallery-5 {height: 811px; margin-bottom: 65px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-gallery-inner-5 {grid-template-columns: auto} }.u-section-6 {background-image: none}
.u-section-6 .u-sheet-1 {min-height: 1202px}
.u-section-6 .u-text-1 {font-weight: 700; font-size: 2.25rem; margin: 54px auto 0 0}
.u-section-6 .u-gallery-1 {height: 556px; grid-template-columns: auto auto auto auto; grid-gap: 20px 20px; margin: 31px auto 0 0}
.u-section-6 .u-gallery-inner-1 {grid-template-columns: auto auto auto auto; grid-gap: 8px 8px}
.u-section-6 .u-gallery-item-1 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-over-slide-1 {padding: 10px}
.u-section-6 .u-gallery-item-2 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-over-slide-2 {padding: 10px}
.u-section-6 .u-gallery-item-3 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-over-slide-3 {padding: 10px}
.u-section-6 .u-gallery-item-4 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-over-slide-4 {padding: 10px}
.u-section-6 .u-gallery-item-5 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-over-slide-5 {padding: 10px}
.u-section-6 .u-gallery-item-6 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-over-slide-6 {padding: 10px}
.u-section-6 .u-gallery-item-7 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-over-slide-7 {padding: 10px}
.u-section-6 .u-gallery-item-8 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-over-slide-8 {padding: 10px}
.u-section-6 .u-gallery-2 {height: 472px; grid-template-columns: auto auto auto auto; grid-gap: 20px 20px; margin: 18px auto 54px 0}
.u-section-6 .u-gallery-inner-2 {grid-template-columns: auto auto auto auto; grid-gap: 10px 10px}
.u-section-6 .u-over-slide-9 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-6 .u-over-slide-10 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-6 .u-gallery-item-11 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-over-slide-11 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-6 .u-gallery-item-12 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-over-slide-12 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-6 .u-gallery-item-13 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-over-slide-13 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-6 .u-gallery-item-14 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-over-slide-14 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-6 .u-gallery-item-15 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-over-slide-15 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-6 .u-gallery-item-16 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-over-slide-16 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 1043px}
.u-section-6 .u-gallery-1 {height: 458px; margin-right: initial; margin-left: initial}
.u-section-6 .u-over-slide-1 {min-height: 100px}
.u-section-6 .u-over-slide-2 {min-height: 100px}
.u-section-6 .u-over-slide-3 {min-height: 100px}
.u-section-6 .u-over-slide-4 {min-height: 100px}
.u-section-6 .u-over-slide-5 {min-height: 100px}
.u-section-6 .u-over-slide-6 {min-height: 100px}
.u-section-6 .u-over-slide-7 {min-height: 100px}
.u-section-6 .u-over-slide-8 {min-height: 100px}
.u-section-6 .u-gallery-2 {height: 389px; margin-bottom: -105px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 2658px}
.u-section-6 .u-text-1 {font-size: 1.875rem}
.u-section-6 .u-gallery-1 {height: 1403px; grid-template-columns: auto auto; margin-right: initial; margin-left: initial}
.u-section-6 .u-gallery-inner-1 {grid-template-columns: auto auto}
.u-section-6 .u-gallery-2 {height: 1192px; grid-template-columns: auto auto; margin-top: 0; margin-bottom: 54px; margin-right: initial; margin-left: initial}
.u-section-6 .u-gallery-inner-2 {grid-template-columns: auto auto} }

@media (max-width: 767px){ .u-section-6 .u-gallery-1 {height: 4209px; grid-template-columns: auto; margin-right: initial; margin-left: initial}
.u-section-6 .u-gallery-inner-1 {grid-template-columns: auto; grid-gap: 0 0}
.u-section-6 .u-gallery-2 {height: 3576px; grid-template-columns: repeat(1, auto); margin-right: initial; margin-left: initial}
.u-section-6 .u-gallery-inner-2 {grid-template-columns: auto; grid-gap: 41px 41px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 4916px}
.u-section-6 .u-text-1 {margin-top: 65px}
.u-section-6 .u-gallery-1 {height: 2423px; margin-top: 56px; margin-right: initial; margin-left: initial}
.u-section-6 .u-gallery-2 {height: 2252px; grid-template-columns: auto; margin-top: 22px; margin-bottom: -380px; margin-right: initial; margin-left: initial}
.u-section-6 .u-gallery-inner-2 {grid-gap: 29px 29px} }.u-section-7 {margin-top: 0; margin-bottom: 0; background-image: url("images/41614E98-96CE-491C-A2D8-116471C51BCB.JPG"); background-position: 50% 50%}
.u-section-7 .u-sheet-1 {min-height: 520px}
.u-section-7 .u-layout-wrap-1 {width: 439px; margin: 0 0 0 auto}
.u-section-7 .u-layout-cell-1 {min-height: 542px; background-image: none}
.u-section-7 .u-container-layout-1 {padding: 30px}
.u-section-7 .u-text-1 {font-weight: 900; font-size: 2.25rem; margin: 36px auto 0 4px}
.u-section-7 .u-icon-1 {height: 56px; width: 56px; margin: 67px auto 0 0}
.u-section-7 .u-text-2 {background-image: none; font-size: 1.25rem; font-weight: 300; text-transform: none; margin: -44px auto 0 71px}
.u-section-7 .u-icon-2 {height: 52px; width: 52px; margin: 59px auto 0 4px}
.u-section-7 .u-text-3 {font-weight: 300; font-size: 1.25rem; text-transform: none; margin: -42px auto 0 71px}
.u-section-7 .u-social-icons-1 {height: 52px; min-height: 16px; width: 52px; min-width: 16px; white-space: nowrap; margin: 54px auto 0 4px}
.u-section-7 .u-icon-3 {height: 100%}
.u-section-7 .u-text-4 {font-size: 1.25rem; font-weight: 300; margin: -42px 180px 0 71px}

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 522px}
.u-section-7 .u-layout-wrap-1 {width: 374px; margin-top: -4px; margin-bottom: 4px}
.u-section-7 .u-layout-cell-1 {min-height: 544px}
.u-section-7 .u-text-1 {width: auto; margin-top: 51px; margin-left: 3px}
.u-section-7 .u-icon-1 {height: 45px; width: 45px; margin-top: 75px}
.u-section-7 .u-text-2 {font-size: 1rem; width: auto; margin-top: -35px; margin-left: 65px}
.u-section-7 .u-icon-2 {height: 41px; width: 41px; margin-top: 44px}
.u-section-7 .u-text-3 {font-size: 1rem; width: auto; margin-top: -33px; margin-left: 65px}
.u-section-7 .u-social-icons-1 {height: 41px; width: 41px; margin-top: 52px}
.u-section-7 .u-text-4 {font-size: 1rem; width: auto; margin-top: -33px; margin-right: 128px; margin-left: 65px} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 285px}
.u-section-7 .u-layout-wrap-1 {width: 287px; margin-top: 0; margin-bottom: 48px}
.u-section-7 .u-layout-cell-1 {min-height: 100px}
.u-section-7 .u-text-1 {font-size: 1.875rem; margin-top: 0; margin-left: 2px}
.u-section-7 .u-icon-1 {height: 30px; width: 30px; margin-top: 33px}
.u-section-7 .u-text-2 {font-size: 0.75rem; margin-top: -24px; margin-left: 43px}
.u-section-7 .u-icon-2 {height: 30px; width: 30px; margin-top: 28px; margin-left: 0}
.u-section-7 .u-text-3 {font-size: 0.75rem; margin-top: -24px; margin-left: 43px}
.u-section-7 .u-social-icons-1 {height: 30px; width: 30px; margin-top: 28px; margin-left: 0}
.u-section-7 .u-text-4 {font-size: 0.75rem; margin-top: -24px; margin-right: 100px; margin-left: 43px} }

@media (max-width: 767px){ .u-section-7 {background-position: 100% 50%}
.u-section-7 .u-sheet-1 {min-height: 765px}
.u-section-7 .u-layout-wrap-1 {width: 363px; margin: 140px auto 60px 0}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-text-1 {margin-left: 33px}
.u-section-7 .u-icon-1 {margin-left: 33px}
.u-section-7 .u-text-2 {font-size: 0.875rem; margin-top: -26px; margin-left: 91px}
.u-section-7 .u-icon-2 {margin-top: 25px; margin-left: 33px}
.u-section-7 .u-text-3 {font-size: 0.875rem; margin-top: -22px; margin-left: 91px}
.u-section-7 .u-social-icons-1 {margin-top: 21px; margin-left: 33px}
.u-section-7 .u-text-4 {font-size: 0.875rem; margin-top: -22px; margin-right: 160px; margin-left: 91px} }

@media (max-width: 575px){ .u-section-7 {min-height: 608px}
.u-section-7 .u-sheet-1 {min-height: 809px}
.u-section-7 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-7 .u-layout-cell-1 {min-height: 259px}
.u-section-7 .u-text-1 {font-size: 2.25rem; margin-left: 30px}
.u-section-7 .u-icon-1 {height: 28px; width: 28px; margin-top: 34px; margin-left: 30px}
.u-section-7 .u-text-2 {margin-top: -24px; margin-left: 80px}
.u-section-7 .u-icon-2 {height: 28px; width: 28px; margin-top: 23px; margin-left: 30px}
.u-section-7 .u-text-3 {margin-top: -25px; margin-left: 80px}
.u-section-7 .u-social-icons-1 {height: 28px; width: 28px; margin-top: 24px; margin-left: 30px}
.u-section-7 .u-text-4 {margin-right: 82px; margin-left: 80px} }
